
<div class="card-body px-lg-12 py-lg-12">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h3>Criar Nova Senha</h3>
            </div>
        </div>
    </div>

    <br>
    <form [formGroup]="formularioNewPassword">
        <div class="row">      
            <div class="col-sm-6">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                        <mat-icon aria-hidden="false" aria-label="Nova Senha" fontIcon="lock_person"></mat-icon>
                        </span>
                    </div>
                    <input class="form-control" formControlName="novaSenha" placeholder="Nova Senha" type="password">
                    </div>
            </div>

            <div class="col-sm-6">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                    <span class="input-group-text">
                        <mat-icon aria-hidden="false" aria-label="Confirmar Senha" fontIcon="lock_person"></mat-icon>
                    </span>
                    </div>
                    <input class="form-control" formControlName="ConfNovaSenha" placeholder="Confirmar Senha" type="password">
                </div>
            </div>
        
        </div>
    </form>
<br>

    <footer>
        <div class="row">
            <div class="col-lg-10">
            </div>
            <div class="col-lg-2">
              <button  class="form-control btn btn-primary" [disabled]="!formularioNewPassword.valid" (click)="ngCreatePassword()" >Criar Senha</button>
            </div>

        </div>
    </footer>
</div>


