<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon> person_edit </mat-icon>
      Dados Cadastrais
    </ng-template>
    <br>
    <app-dados-cadastrais></app-dados-cadastrais>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">lock_person</mat-icon>
      Nova Senha
    </ng-template>
    <br>

    <app-nova-senha></app-nova-senha>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">payments</mat-icon>
      Pagamento
    </ng-template>

    Content 3
  </mat-tab>
</mat-tab-group>